<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kdi_ImageUpload::kdi_imageupload_entity" title="Entity" module="Kdi_ImageUpload" sortOrder="9999" resource="Magento_Backend::content" parent="Kdi::top_level" action="kdi_imageupload/entity/index"/>
        <add id="Kdi_ImageUpload::kdi_imageupload_mail" title="Send Mail" module="Kdi_ImageUpload" sortOrder="9999" resource="Magento_Backend::content" parent="Kdi::top_level" action="kdi_imageupload/send/mail"/>

    </menu>
</config>
