<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="kdi_imageupload" id="kdi_imageupload">
			<module before="Magento_Backend" name="Kdi_ImageUpload"/>
		</route>
	</router>
</config>
