:root {
    /* Layout  Magento */
    --layout-full-width: 1920px;
    --layout-full-bleed: 1280px;
    /*--layout-width-container: ; */
    --gutter-x: 20px;
    --gutter-y: 0;

    /* Color */
    --primary-color: rgba(0, 0, 0, 0.80);
    --primary-color-alt: #333333;
    --secondary-color: #ee5204;
    --color-dark: #000000;

    --text-color: #2a2a2a;
    --border-color: #d5d6da;
    --border-color-light: rgba(0, 0, 0, 0.10);
    --border-radius-img: 10px;

    --background-color: #ffffff;

    /* Block Title */
    --block-title-font-size: 18px;
    --block-title-line-height: 30px;
    --block-title-font-weight: 600;
    --block-title-color: #0B0B0B;
    --block-border-color: var(--border-color-light);

    /* Post Title */
    --post-title-color: #160808;
    --post-title-color-hover: var(--secondary-color);
    --transition: all .2s ease;
    --image-con-post-title-color: #fff;
    --image-con-post-title-color-hover: #fff;

    /* Post Data */
    --post-data-color: rgba(0, 0, 0, 0.80);
    --post-data-color-sidebar: #818181;
    --image-con-post-data-color: rgba(255, 255, 255, 0.80);

    /* Post Reading Time */
    --image-con-post-reading-time: rgba(255, 255, 255, 0.80);

    /* Post Description */
    --post-desc-font-size: 16px;
    --post-desc-line-height: 24px;

    /* Link Sidebar */
    --link-sidebar-color: #757575;
    --link-sidebar-color-hover: var(--secondary-color);

    /* Tag Cloud */
    --tag-cloud-color: #757575;
    --tag-cloud-color-hover: #ffffff;
    --tag-cloud-bg-color: transparent;
    --tag-cloud-bg-color-hover: #333333;
    --tag-cloud-border-color: rgba(0, 0, 0, 0.10);
    --tag-cloud-border-color-hover: rgba(0, 0, 0, 0.10);

    /* Tag */
    --tag-title-color: #757575;
    --tag-color: #000000;
    --tag-color-hover: #ffffff;
    --tag-bg-color: transparent;
    --tag-bg-color-hover: #333333;
    --tag-border-color: var(--border-color);
    --tag-border-color-hover: var(--border-color);

    /* Category */
    --category-color: #000;
    --category-color-hover: #ffffff;
    --category-bg-color: transparent;
    --category-bg-color-hover: #333;
    --category-border-color: var(--border-color);
    --category-border-color-hover: var(--border-color);

    /* Category In Image Container */
    --img-con-category-color: #ffffff;
    --img-con-category-color-hover: #ffffff;
    --img-con-category-bg-color: transparent;
    --img-con-category-bg-color-hover: transparent;

    /* Products */
    --product-item-name: #333741;

    /* Icons */
    --color-icon: #7d7d7d;
    --color-icon-hover: #1b1b1b;
    --fillColor: currentColor;
    --comments-icon: url("../../images/comments-icon.svg");
    --count-views-icon-url: url("../../images/views-icon.svg");
    --chevron-icon: url("../../images/chevron-right.svg");

    /* Comment */
    --comment-c-count-color: #222;
    --comment-replyform-color: #222;
    --comment-c-post-name: #222;

    /* Foreground */
    --color-foreground: 18, 18, 18;

    /* Toolbar */
    --color-toolbar-item-strong: #ffffff;
    --color-toolbar-pages-item: #333333;

    /* Button */
    --btn-bg-primary-color: #4db2ec;
    --btn-bg-secondary-color: #f6f7f9;

    /* Links */
    /*--color-link: currentColor; */
    /*--color-link-hover: currentColor; */

    /* Article */
    --article--gap: 24px;
    --article-list-gap: 30px;
    --article-list-row-gap: 30px;
    --article-list-column-gap: 30px;
    --article-grid-gap: 30px;
    --article-grid-row-gap: 30px;
    --article-grid-column-gap: 30px;

    /* Used in Shopify */
    --container-max-width: 1280px;
    --container-gutter: 20px;
    --margin-section-blog: 30px 0;
    --article-margin-bottom: 50px;

    /* Breadcrumbs Shopify */
    --breadcrumbs-color: var(--primary-color);
}

:root .dark-mode {
    /* Color */
    --primary-color: #cdcdcd;
    --primary-color-alt: #757575;
    --secondary-color: #ee5204;
    --color-dark: #333333;

    --text-color: #cdcdcd;
    --border-color: rgba(213, 214, 218, 1);
    --border-color-light: rgba(213, 214, 218, .8);
    --background-color: #0D1117;

    /* Block Title */
    --block-title-color: #cdcdcd;
    --block-border-color: var(--border-color-light);

    /* Post Title */
    --post-title-color: #cdcdcd;
    --post-title-color-hover: var(--secondary-color);
    --image-con-post-title-color: #fff;
    --image-con-post-title-color-hover: #fff;

    /* Post data */
    --post-data-color: #818181;
    --image-con-post-data-color: rgba(255, 255, 255, 0.80);

    /* Post Reading Time */
    --image-con-post-reading-time: rgba(255, 255, 255, 0.80);

    /* Post Description */
    --post-desc-font-size: 16px;
    --post-desc-line-height: 24px;

    /* Link Sidebar */
    --link-sidebar-color: #757575;
    --link-sidebar-color-hover: var(--secondary-color);

    /* Tag Cloud */
    --tag-cloud-color: #757575;
    --tag-cloud-color-hover: #ffffff;
    --tag-cloud-bg-color: transparent;
    --tag-cloud-bg-color-hover: #333333;
    --tag-cloud-border-color: var(--tag-cloud-color);
    --tag-cloud-border-color-hover: var(--tag-cloud-color);

    /* Tag */
    --tag-title-color: #757575;
    --tag-color: #ffffff;
    --tag-color-hover: #ffffff;
    --tag-bg-color: transparent;
    --tag-bg-color-hover: #333333;
    --tag-border-color: var(--border-color);
    --tag-border-color-hover: var(--border-color);

    /* Category */
    --category-color: #ffffff;
    --category-color-hover: #ffffff;
    --category-bg-color: transparent;
    --category-bg-color-hover: #333;
    --category-border-color: var(--border-color);
    --category-border-color-hover: var(--border-color);

    /* Category In Image Container */
    --img-con-category-color: #ffffff;
    --img-con-category-bg-color: transparent;
    --img-con-category-bg-color-hover: transparent;

    /* Products */
    --product-item-name: #cdcdcd;

    /* Icons */
    --color-icon: #7d7d7d;
    --color-icon-hover: #7d7d7d;
    --fillColor: currentColor;
    --comments-icon: url("../../images/comments-icon-light.svg");
    --chevron-icon: url("../../images/light-chevron-right.svg");
    --count-views-icon-url: url("../../images/views-icon-dark.svg");

    /* Comment */
    --comment-c-count-color: #667085;
    --comment-replyform-color: #667085;
    --comment-c-post-name: #667085;

    /* Foreground */
    --color-foreground: 18, 18, 18;

    /* Toolbar */
    --color-toolbar-item-strong: #1b1b1b;

    /* Button */
    --btn-bg-primary-color: #4db2ec;
    --btn-bg-secondary-color: #f6f7f9;

    /* Links */
    /*--color-link: ; */
    /*--color-link-hover: ; */

    /* Breadcrumbs Shopify */
    --breadcrumbs-color: var(--primary-color);
}

/* Used in Shopify */
@media screen and (min-width: 768px) {
    :root {
        --container-max-width: 1280px;
        --container-gutter: 40px;
        --margin-section-blog: 50px 0;
        --article-margin-bottom: 0;
    }
}