<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="set_item_questionnaire_unique_id" instance="Haartyhanks\CategoryQuest\Observer\SetItemCatQuestUniqueId" />
    </event>
    <!-- <event name="sales_model_service_quote_submit_before">
        <observer name="haartyhanks_categoryquest_set_sales_model_service_quote_submit_before" instance="Haartyhanks\CategoryQuest\Observer\SetItemCatQuestUniqueId" />
        <observer name="haartyhanks_categoryquest_sales_model_service_quote_submit_before" instance="Haartyhanks\CategoryQuest\Observer\SaveOrderBeforeSalesModelQuoteObserver" />
    </event> -->
    <!-- <event name="sales_model_service_quote_submit_before">
    </event> -->
</config>