<!--- Company logo slider --->
<div class="container trustpilot-slider">
<div class="home-google-review-header">
    <a href="https://uk.trustpilot.com/review/pharmacyplanet.com" target="_blank"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="Trustpilot star rating badge" data-original="{{media url=wysiwyg/trustpilot-logo-footer.png}}"></a>
</div>
    <div class="row">
        <div class="col-md-12 logo-slider-inner-wrapper">
            <img src="{{media url=wysiwyg/arrow-slider-left.png}}" alt="Left Arrow" class="prev-arrow1 slick-prev slick-arrow" />
            <div class="responsive-slider1">


                 <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>I can't praise this company enough</p>
                
                 </div>
                     <div class="review-content">
                    <p>I can't praise this company enough, I was about to run out of water tablets, namely Bumetanide 5mg. My usual chemist has not been able to fill my prescription for these tablets for 3 months due to a shortage, hmm? I had completely run out of my Bumetanide and was given an alternative by my GP, they didn't/don't work at all on me, over the past 3 days that I have been without this medication, my legs, ankles and feet have swollen right up and are very painful (due to my heart failure) I received my tablets from pharmacy planet this morning, sent next day delivery plus I was given a tracking number. I had reason to phone them over a totally unrelated concern and found the staff to be very friendly and polite. I shall definitely use this company again for my water tablets.</p>
                    
                </div> 
        </div>
        </div> -->


         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>Quick, easy, professional</p>
                
                 </div>
                     <div class="review-content">
                    <p>Easy ordering, quick delivery. Cheaper than NHS prescription charges. Will use again. Thank you</p>
                    
                </div> 
        </div>
        </div>


         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>A very good Pharmacy service</p>
                
                 </div>
                     <div class="review-content">
                    <p>A very good Pharmacy service, very straightforward, from ordering and completing questionaire, to Delivery. Would recommend.</p>
                    
                </div> 
        </div>
        </div>

         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>Fantastic especially as prescriptions…</p>
                
                 </div>
                     <div class="review-content">
                    <p>Fantastic especially as prescriptions are taking 10 days now where I live. I always value a quick efficient service and this is what Pharmacyplanet provides. Thank you.</p>
                    
                </div> 
        </div>
        </div>

         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>This company is excellent!</p>
                
                 </div>
                     <div class="review-content">
                    <p>This company is excellent!! I’ve struggled to get my medication on occasions and their customer care is so good!! When the meds have come in they email me immediately. Always confirmation of delivery and delivery is quick.</p>
                    
                </div> 
        </div>
        </div>


         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>Easy website</p>
                
                 </div>
                     <div class="review-content">
                    <p>Easy website Good consultation form Fast and efficient order fulfillment Good postage</p>
                    
                </div> 
        </div>
        </div>

         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>Online consultation was simple and…</p>
                
                 </div>
                     <div class="review-content">
                    <p>Online consultation was simple and straight forward. Review and medication approval prompt. Received on time, securely packaged.</p>
                    
                </div> 
        </div>
        </div>

         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>As ever</p>
                
                 </div>
                     <div class="review-content">
                    <p>As ever - perfect. Easy to order, fast approval and shipping faster than anticipated. Best on-line pharmacy I have found. Thank you.</p>
                    
                </div> 
        </div>
        </div>

        <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEP 2023</span></p>
                </div>

                <p>great service and very quick, would recommend</p>
                
                 </div>
                     <div class="review-content">
                    <p>great service and very quick, would recommend, would defo use again</p>
                    
                </div> 
        </div>
        </div>
 






 <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>Delivered exactly what I needed...</p>
                
                 </div>
                     <div class="review-content">
                    <p>Delivered exactly what I needed in a timely manner. Just superb in this day and age where not much seems to function properly...well done !!!</p>
                    
                </div> 
        </div>
        </div>


          <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>ORDERED A COUPLE OF YEARS AGO...</p>
                
                 </div>
                     <div class="review-content">
                    <p>ORDERED A COUPLE OF YEARS AGO AND HAVE HAVE JUST DONE AGAIN AFTER LOCAL DOCTORS & CHEMIST MESSED UP MY PRESCIPTION AND LEFT ME LOW ON MEDICATION FOR 2 WEEKs.</p>
                    
                </div> 
        </div>
        </div> -->



  <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>I had a bit of a problem...</p>
                
                 </div>
                     <div class="review-content">
                    <p>I had a bit of a problem with the payment system but they refunded me straight away !! So overall a really professional transaction &#128077;</p>
                    
                </div> 
        </div>
        </div>


 <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>Fantastic service and more efficient...</p>
                
                 </div>
                     <div class="review-content">
                    <p>Fantastic service and more efficient than High Street pharmacies. Highly recommended if you run short on Ventolin inhalers.</p>
                    
                </div> 
        </div>
        </div>


        <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>Efficient, excellent delivery and excellent service...</p>
                
                 </div>
                     <div class="review-content">
                    <p>Efficient, excellent delivery and excellent service as always. Thank you for making this such a straightforward process. 10/10 !!</p>
                    
                </div> 
        </div>
        </div>



        <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>I am going away on holiday soon...</p>
                
                 </div>
                     <div class="review-content">
                    <p>I am going away on holiday soon and need an inhaler when the weather's hot. I cannot get hold of my doctor at all, long phone queues, dropped calls, all appointments taken,call back tomorrow.... etc, etc,etc... So I was getting quite anxious. On the off chance I tried pharmacy planet. My order was accepted, and delivered a couple of days later. Just in time for my holiday. Absolute brilliant service, quick acceptance, fast delivery, and cheaper than my usual prescription costs. I will definitely use this service again. 10/10</p>
                    
                </div> 
        </div>
        </div> -->


         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>Without any drama my inhalers...</p>
                
                 </div>
                     <div class="review-content">
                    <p>Without any drama my inhalers were issued and delivered only a few questions which I willingly answered. Truly an easy and useful site.</p>
                    
                </div> 
        </div>
        </div>


        <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>I ordered some medication from pharmacy planet...</p>
                
                 </div>
                     <div class="review-content">
                    <p>I ordered some medication from pharmacy planet, and after being approved I received the medication 3 days later! I also had an issue with the administration of the medication, I sent them an email and received a phone call from them the next day and solved my problem! Excellent service, very friendly team Highly recommend!</p>
                    
                </div> 
        </div>
        </div> 


        <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>It was a thorough consultation...</p>
                
                 </div>
                     <div class="review-content">
                    <p>It was a thorough consultation to make sure that I was suitable to order the item, but received a reply very swiftly requesting additional information which I duly supplied. I was assessed and then approved the same day. I am very pleased with service supplied and definitely recommend Pharmacy planet.</p>
                    
                </div> 
        </div>
        </div>-->


        <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>Very efficient ordered Friday...</p>
                
                 </div>
                     <div class="review-content">
                    <p>Very efficient ordered Friday and arrived today, was kept up to date on the process I was very skeptical as it was for a large amount of money but arrived on time and secure! First time ordering and I will order again.</p>
                    
                </div> 
        </div>
        </div>


         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JULY 2023</span></p>
                </div>

                <p>Very proficient, in both ordering and delivery.</p>
                
                 </div>
                     <div class="review-content">
                    <p>Very proficient, in both ordering and delivery. A few questions to answer as regards why and how product is used which eased my mind as far as ordering was concerned. Will use this company again.</p>
                    
                </div> 
        </div>
        </div>

 <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>Excellent service</p>
                
                 </div>
                     <div class="review-content">
                    <p>Excellent! I’ve ordered before and always had a very fast and efficient service. I have tried  other on line pharmacies but will always use Pharmacy Planet as the process is simple and fuss free which is the reason most people seek a decent on line pharmacy. I had a small issue with my most recent order (my fault) and the issue was handled within hours and communication was very good! This and would highly recommend them if you are looking for a stress free service with open communication from start to finish</p>
                    <span>Emma Jones</span>
                </div> 
        </div>
        </div> -->

<div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>Brilliant service- You fill a truthful...</p>
                
                 </div>
                     <div class="review-content">
                    <p>Brilliant service- You fill a truthful consultation in, then the pharmacists decide if it’s the right medication for you- used a couple of times, will definitely use again Thank you</p>
<span>MR P Richardson</span>
                </div> 
        </div>
        </div>




        <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>Great experience!</p>
                
                 </div>
                     <div class="review-content">
                    <p>Great experience - I think a lot of the poor reviews on here are from people not willing to follow/not reading the terms and conditions. I submitted all of the information requested 
and received a timely response and quick shipping. You can't just expect to receive any off-brand prescription without the prescriber ensuring it's appropriate for you to have it. I'd recommend PP without hesitation.</p>
<span>Sally Anne Wilsner</span>
                </div> 
        </div>
        </div> -->


 <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>Pleasantly surprised...</p>
                
                 </div>
                     <div class="review-content">
                    <p>I was a little nervous ordering quite expensive medication online and reading reviews online. Only to be pleasantly surprised. The order was processed very quickly, I received one follow up call to clarify something in my medical history which I appreciate. I received my medication less two days later. Efficient and good service</p>
<span>Customer</span>
                </div> 
        </div>
        </div> -->


 <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>Fast yet efficient.</p>
                
                 </div>
                     <div class="review-content">
                    <p>Thorough questionnaire which put my mind at ease, as it shows they actually do care about whether the medication is right for you. Because I provided all the details asked for service was fast! Delivered exactly when they said it would be and I was kept informed every step of the way. </p>
<span>Annie</span>
                </div> 
        </div>
        </div> -->



 <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>Quick turnaround and good communications</p>
                
                 </div>
                     <div class="review-content">
                    <p>My experience has been very positive from start to finish for additional Thyroxine tablets. I completed the online registering and consultation with my request on Friday, giving a full explanation of why I wanted additional Thyroxine (I have no Thyroid Gland and am exhausted). My request was approved on Monday and the tablets were delivered on Wednesday to a local Spar shop. The whole process took only six days including the weekend and I am very happy with the service, communications and price. I will use Pharmacy Planet again, and recommend them to others due to my positive experience.</p>
<span>Theresa Marriott</span>
                </div> 
        </div>
        </div> -->



        <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>Ozempic 1mg pen</p>
                
                 </div>
                     <div class="review-content">
                    <p>Despite Ozempic being out of stock everywhere I managed to get a 1mg pen from here. Thorough assessment process. Did go quiet after approval which is probably because they have been inundated so I sent a query which was responded to really quickly. Received my order today via FedEx.</p>
<span>Walkingtonc</span>
                </div> 
        </div>
        </div> -->


<!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>My first experience with pharmacyplanet</p>
                
                 </div>
                     <div class="review-content">
                    <p>My first experience with pharmacyplanet.com I filled out an online questionnaire and ordered 2 Evohaler, took a couple of days to review my order and was approved. received my order within next 2 days with no issues and emails kept me informed as to where the process was at each stage</p>
<span>Cart</span>
                </div> 
        </div>
        </div> -->



<div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>Responsible firm</p>
                
                 </div>
                     <div class="review-content">
                    <p>Easy to order after a detailed questionnaire (reassuring that they are responsible). Item arrived shortly after. Would recommend. 
</p>
<span>Paul Davis</span>
                </div> 
        </div>
        </div>


<!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>I am SOOO relieved that I found…</p>
                
                 </div>
                     <div class="review-content">
                    <p>I am SOOO relieved that I found Pharmacyplanet!!!! Super easy signing up, and very sensible health questionaire. Thereafter, super‐quick decision, and amazingly fast delivery. I am SOOO relieved. It is really terrifying, running out of Ventolin, when you are an asthmatic, and neither your surgery nor pharmacy can help... and are totally happy to leave you WITHOUT for days on end!!! Pharmacyplanet have relieved me of that awful panic in just 4 days, when an "urgent request" to the surgery takes about 6 days, and then another 5 or 6 days wait whilst local chemist takes their time sorting out an "urgent" prescription ! THANK YOU THANK YOU THANK YOU Pharmacy Planet!!! Perfect service!!!! </p>
<span>Roobles</span>
                </div> 
        </div>
        </div> -->





       <!--  <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>JUNE 2023</span></p>
                </div>

                <p>I struggled to buy on line due to my…</p>
                
                 </div>
                     <div class="review-content">
                    <p>I struggled to buy on line due to my age not the Web site I had to ring them twice and the lady who answered me was beyond helpful my purchase arrived 2 days later its so good to be able to speak to someone and get help a professional company !</p>
<span>Shella Hurst</span>
                </div> 
        </div>
        </div> -->




         <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>MAY 2023</span></p>
                </div>

                <p>The pharmacists took real care over my…</p>
                
                 </div>
                     <div class="review-content">
                    <p>The pharmacists took real care over my prescribed treatment, including phoning me to ask for further details about myself and my medical history. Delivery was quick and efficient including ensuring the medicine was kept cool by the use of ice packs etc. Highly recommended.</p>
<span>Stephen Barnes</span>
                </div> 
        </div>
        </div> -->


<!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>MAY 2023</span></p>
                </div>

                <p>Can't fault them at all!</p>
                
                 </div>
                     <div class="review-content">
                    <p>I was put off a bit by the bad reviews, I usually don’t post reviews, but I felt like I needed to this time. I ordered my product which is currently in short supply, after filling health questionnaire, I was contacted in couple of days advising I’ve passed the assessment and they will continue with the dispatch. Although it was meant to be next day, I received another email apologising about a delay. I was expecting to wait few more days or even weeks, as they explained the situation on shortage. Thanking me for my patience. Only a day later I received that item has been dispatched. I really can’t fault pharmacy planet and will continue to order with them. They have communicated with me throughout the process ! People just need to have a bit of patience and understanding. Thank you for all the work you are doing! I’m a very happy customer &#128578</p>
<span>Sanita</span>
                </div> 
        </div>
        </div>



<div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>MAY 2023</span></p>
                </div>

                <p>Great experience</p>
                
                 </div>
                     <div class="review-content">
                    <p>ORDER NUM: #1000041806<br> 
Very good experience, recieved emails to keep me up to date with whats happening, i tried another chemist first called "SimpleOnlinePharmacy" but they rejected my order for some reason with no reason or update on why. So i found PlanetPharmacy and i'll get my inhalors here from now on. I play football a lot so i need my Blue Inhalor for this before and after a game. But im really clumsy and lose my inhalors a lot and the ones i get from my chemist are a cheap copy of the Ventolin that clog up, but Planet Pharmacy give u the proper Ventolins that never clog up or break. So thanks and will be back soon if i need anything from a pharmacy. Also quick delivery.10/10. 
</p>
<span>Davey Shug Dutch</span>
                </div> 
        </div>
        </div> -->


<!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>APRIL 2023</span></p>
                </div>

                <p>Excellent Service</p>
                
                 </div>
                     <div class="review-content">
                    <p>I have never ordered a repeat prescription online before but I was so fed up with not being able to get the brand of inhaler I used to be given. I kept asking for the original one but always got the new one which was absolutely useless. I was delighted with the website and did order online. I received my products very well packaged and very promptly. A very professional company‐ I will certainly use them again. Thank you</p>
<span>Lynne King</span>
                </div> 
        </div>
        </div> -->
       







        <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>MARCH 2023</span></p>
                </div>

                <p>Thank heaven for Pharmacy Planet</p>
                
                 </div>
                     <div class="review-content">
                    <p>As usual, a quick and easy way to get exactly what you want really quickly. Had been prescribed Ventolin for years but regrettably my local pharmacy doesn’t stock it. I am exempt from prescription costs but I do not have a problem with paying for exactly what works for me.</p>
                    <span>Mrs M Higgins</span>
                </div> 
        </div>
        </div> -->


         <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>MARCH 2023</span></p>
                </div>

                <p>I have never written an online review…</p>
                
                 </div>
                     <div class="review-content">
                    <p>I rarely write online reviews but felt I needed to after so many negative reviews. I was skeptical about ordering from the UK (from USA) but I’m glad I took the chance. Ordered March 6th and just received my product today March18. Did not need a prescription so all these people saying you need a prescription probably have other health issues. Trust the process! Sadida was very prompt to respond (less than 30 mins each email) and the head pharmacist was also prompt and very polite. I absolutely recommend pharmacy planet!!</p>
                    <span>Kristian Welz</span>
                </div> 
        </div>
        </div> -->


         <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>MARCH 2023</span></p>
                </div>

                <p>1st time I’ve had to use this company…</p>
                
                 </div>
                     <div class="review-content">
                    <p>1st time I’ve had to use this company to buy my own HRT as can’t get any anywhere. My order was accepted and has been dispatched with tracking number and updates. Very impressed thankyou so very much</p>
                    <span>Diane J</span>
                </div> 
        </div>
        </div> -->



           <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>MARCH 2023</span></p>
                </div>

                <p>Super efficient service</p>
                
                 </div>
                     <div class="review-content">
                    <p>Super efficient service, very easy to use and totally professional communications</p>
                    <span>Duncan B</span>
                </div> 
        </div>
        </div>



<div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>FEB 2023</span></p>
                </div>

                <p>Great experience will use it again</p>
                
                 </div>
                     <div class="review-content">
                    <p>First time using PharmacyPlanet and what a great experience, with fast delivery, and excellent communication. will defiantly use you again ...</p>
                    <span>Sandra Whalley</span>
                </div> 
        </div>
        </div>


<!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>FEB 2023</span></p>
                </div>

                <p>Excellent, Beyond Impressed</p>
                
                 </div>
                     <div class="review-content">
                    <p>First time using Pharmacy Planet and the experience was very impressive. Consultation, payment, dispatch and delivery all perfect and and within a very short length of time. I was finding tracking down my HRT brand that took me 2 years to find desperately stressful and didn’t want to change brands again after being settled finally. PP had stock and it was dispatched within days, thank you so much and I will definitely use again.</p>
                    <span>Emma Jones</span>
                </div> 
        </div>
        </div> -->

<!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>FEB 2023</span></p>
                </div>

                <p>I purchased 2 Ventolin inhaler’s</p>
                
                 </div>
                     <div class="review-content">
                    <p>I purchased 2 Ventolin inhaler’s. They arrived on time & I was very pleased with the price. My doctors surgery won’t give me Ventolin’s, the Salamol’s don’t work. This is a fantastic service.</p>
                    <span>Michael</span>
                </div> 
        </div>
        </div> -->

<!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>FEB 2023</span></p>
                </div>

                <p>What a marvellous find this company is</p>
                
                 </div>
                     <div class="review-content">
                    <p>What a marvellous find this company is. I have asked my GP on numerous occasions to provide me with a specific inhaler which they never do. I found that Pharmacy Planet supply them so I started using them a few months ago. Always quick and easy to order with regular updates. I can’t rate them highly enough.</p>
                    <span>Maureen Higgins</span>
                </div> 
        </div>
        </div> -->
<div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>FEB 2023</span></p>
                </div>

                <p>Very efficient service</p>
                
                 </div>
                     <div class="review-content">
                    <p>Very efficient: my prescription request was reviewed and, once approved, expeditiously dispatched.</p>
                    <span>E. Vincent</span>
                </div> 
        </div>
        </div>

<div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>FEB 2023</span></p>
                </div>

                <p>Highly recommended</p>
                
                 </div>
                     <div class="review-content">
                    <p>I always use pharmacy planet as the service is brilliant Speedy delivery, well packaged, and very reasonably priced Highly recommended.</p>
                    <span>Marilyn Salvage</span>
                </div> 
        </div>
        </div>        
<div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>DEC 2022</span></p>
                </div>

                <p>Good service</p>
                
                 </div>
                     <div class="review-content">
                    <p>Order processed very quickly unfortunately a delay in delivery due to postal strike.</p>
                    <span>Norma</span>
                </div> 
        </div>
        </div>

        <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>DEC 2022</span></p>
                </div>

                <p>So much less money and great customer…</p>
                
                 </div>
                     <div class="review-content">
                    <p>So much less money and great customer service. This is my 2nd or 3rd time using them.</p>
                    <span>Carly Israel</span>
                </div> 
        </div>
        </div>


        <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>NOV 2022</span></p>
                </div>

                <p>An excellent service</p>
                
                 </div>
                     <div class="review-content">
                    <p>I am writing to say that ordering from this company was very straight forward. I completed the online questionnaire, made my order, the amount I needed to pay plus p/p was clearly stated. Delivery is a little slow so order as early as possible. I would particularly like to thank Sadida Islam who answered all my questions efficiently, pleasantly and with great patience. She is a credit to this company.</p>
                    <span>Mrs Grania King</span>
                </div> 
        </div>
        </div> -->

         <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>NOV 2022</span></p>
                </div>

                <p>Great service</p>
                
                 </div>
                     <div class="review-content">
                    <p>They did everything they claimed to. Great prices and delivery time quoted was spot on. Will definitely use again, thank you for a prompt and efficient service.</p>
                    <span>Tracey Bissell</span>
                </div> 
        </div>
        </div>

        <!-- <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEPT 2022</span></p>
                </div>

                <p>Great Service</p>
                
                 </div>
                     <div class="review-content">
                    <p>This is the first time I have used an online pharmaceutical company due to the long lead times for general non urgent appointments with the local GP. I was so impressed with the service from start to finish, the online assessment was easy to use and the review update process is very useful and was kept up to date constantly. My cream arrived just before my holiday as promised, I will certainly be recommending to my friends be using Pharmacy Planet again.</p>
                    <span>Tristan Tomkins</span>
                </div> 
        </div>
        </div> -->
                <div>
                    
                    <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEPT 2022</span></p>
                </div>

                <p>Very easy to deal with</p> 
                 </div> 

                <div class="review-content">
                    <p>Very easy to deal with and good communication too &#128578</p>
                    <span>Alan Coad</span>
                </div> 
        </div>
        </div>


        <div>
        <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>SEPT 2022</span></p>
                </div>

                <p>Decent prices</p> 
                 </div> 

                <div class="review-content">
                    <p>Decent prices. Easy to use and order and fast delivery</p>
                    <span>Peter hollis</span>
                </div> 
        </div>
        </div>

<div>
        <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>AUG 2022</span></p>
                </div>

                <p>Very straight forward</p> 
                 </div> 

                <div class="review-content">
                    <p>Very straight forward, no nonsense approach to satisfy a medical need. Fast and discreet delivery, plus good value for money ! All in all. excellent.</p>
                    <span>J Mac</span>
                </div> 
        </div>
        </div>
<div>
        <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>AUG 2022</span></p>
                </div>

                <p>Very fast and correct service’s</p> 
                 </div> 

                <div class="review-content">
                    <p>Very fast and correct service’s! Thank you for your Service!</p>
                    <span>Angela Feher</span>
                </div> 
        </div>
        </div>


        <div>
       <div class="google-review-list">
            <div class="review-list-top">
                <div class="trustpilot-top-logo"> 
                <div class="review-list-img"><img src="/pub /static/frontend/Custom/luma_child/en_GB/Magefan_LazyLoad/images/pixel.jpg" alt="How It Work" data-original="{{media url=wysiwyg/stars2.png}}"></div>

                <p><span>AUG 2022</span></p>
                </div>

                <p>Have used them a few times now…</p> 
                 </div> 

                <div class="review-content">
                    <p>Have used them a few times now and service has improved now they have all my details on file very happy</p>
                    <span>John</span>
                </div> 
        </div>
        </div>
                
            </div>
            <img src="{{media url=wysiwyg/arrow-slider-right.png}}" alt="Left Arrow" class="next-arrow1 slick-next slick-arrow" />
        </div>
    </div>
</div>

<style>
@media screen and (min-width: 768px) {
    .trustpilot-slider .google-review-list .review-content p{
        height: auto !important;
    }
}

</style>


<script>require(["jquery","slick_slider"],function(s){s(".responsive-slider1").slick({prevArrow:s(".prev-arrow1"),nextArrow:s(".next-arrow1"),infinite:!0,speed:300,slidesToShow:4,slidesToScroll:1,autoplay:!0,autoplaySpeed:3e3,swipeToSlide: true,responsive:[{breakpoint:1024,settings:{slidesToShow:3,slidesToScroll:1,infinite:!0,dots:!0}},{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:1}},{breakpoint:480,settings:{slidesToShow:1,slidesToScroll:1}}]})});</script>