<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<!-- <menu>
		<add id="Haartyhanks::top_level" title="Haartyhanks" module="Haartyhanks_LNAPI" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Haartyhanks_LNAPI::haartyhanks_lnapi_entity" title="Entity" module="Haartyhanks_LNAPI" sortOrder="9999" resource="Magento_Backend::content" parent="Haartyhanks::top_level" action="haartyhanks_lnapi/entity/index"/>
	</menu> -->
</config>
