.mgz-uichooserlayout {
	z-index: 2;

	.admin__control-group-equal {
		> .admin__field {
			display: block;
			float: left;
			margin: 0;
			width: auto;
			padding-top: 10px;
			padding-bottom: 10px;

			&.mgz-uichooserlayout-chooser {
				width: 100%;
				padding-left: 0;

				.admin__field-control > .admin__control-text {
					width: 350px;
				}
			}
		}
	}

	.admin__field-group-columns.admin__field-control.admin__control-grouped {
		margin-left: 20px;
	}

	.mgz-uichooserlayout-chooser {
		margin-top: 10px;
	}

	.mgz-uichooserlayout-multiselect2 {
		.admin__action-multiselect-wrap {
			.action-menu {
				min-width: 150px;
			}
		}
	}

	tfoot {
		button {
			margin-left: 10px;
		}
	}

	.admin__data-grid-pager-wrap {
		select {
			width: auto;
		}
	}

	.admin__data-grid-pager {
		input {
			width: 50px;
		}
	}

	.admin__control-table-wrapper {
		overflow: visible;
	}
}
