<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Kdi_Pharmacist::pharmacist" title="Pharmacist" sortOrder="100" >
                    <resource id="Kdi_Pharmacist::pharmacist_details" title="Pharmacist Details" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
