<?xml version="1.0"?>
<!-- 
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_OutOfStockNotification
 * @author      Webkul
 * @copyright   Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Webkul_OutOfStockNotification::notification" title="Out Of Stock Notification" module="Webkul_OutOfStockNotification" sortOrder="10" resource="Webkul_OutOfStockNotification::notification"/>
		<add id="Webkul_OutOfStockNotification::Request" title="See All Requests" module="Webkul_OutOfStockNotification" sortOrder="4" parent="Webkul_OutOfStockNotification::notification" action="outofstocknotification/product/preorderrequests" resource="Webkul_OutOfStockNotification::Request"/>
	</menu>
</config>