<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_OutOfStockNotification
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="notificationsettings" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1">
            <label>Out Of Stock Notification</label>
            <tab>webkul</tab>
            <resource>Webkul_OutOfStockNotification::webkul</resource>
            <group id="enable" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1">
                <label>Enable Out Of Stock Notifications</label>
                <field id="oosn" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1">
                    <label>Enable Module on Frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1">
                <label>General Settings</label>
                <field id="adminemail" translate="label comment" sortOrder="1" type="text" showInDefault="1" showInWebsite="1">
                    <label>Admin Email-id</label>
                    <validate>validate-email</validate>
                </field>
                <field id="adminname" translate="label comment" sortOrder="2" type="text" showInDefault="1" showInWebsite="1">
                    <label>Admin Name</label>
                </field>
                <field id="options" translate="label comment" sortOrder="0" type="select" showInDefault="1" showInWebsite="1">
                    <label>Select Notification Method</label>
                    <source_model>Webkul\OutOfStockNotification\Model\Config\Source\Effect</source_model>
                    <depends>
                        <field id="controls">0</field>
                    </depends>
                </field>
            </group>
            <group id="lowstock" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1">
                <label>Low Stock Notification Settings</label>
                <field id="allow" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1">
                    <label>Enable Low Stock Notification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="qty" translate="label comment" sortOrder="2" type="text" showInDefault="1" showInWebsite="1">
                    <label>Low Stock Quantity</label>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="allow">1</field>
                    </depends>
                </field>
                <field id="receivers" translate="label comment" sortOrder="3" type="select" showInDefault="1" showInWebsite="1">
                    <label>Select Receivers</label>
                    <source_model>Webkul\OutOfStockNotification\Model\Config\Source\Receivers</source_model>
                    <depends>
                        <field id="allow">1</field>
                    </depends>
                </field>
                <field id="low_stock_email" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <depends>
                        <field id="allow">1</field>
                    </depends>
                    <label>Select Low Stock Notification Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="emailsettings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1">
                <label>Out of stock notification Email Settings</label>
                <field id="admin_notification_status" translate="label" sortOrder="7" type="select" showInDefault="1" showInWebsite="1">
                    <label>Receive Email on new request</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="admin_notification" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1">
                    <depends>
                        <field id="admin_notification_status">1</field>
                    </depends>
                    <label>Select Admin Notification Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="product_instock_registration_status" translate="label" sortOrder="9" type="select" showInDefault="1" showInWebsite="1">
                    <label>Notify customer about new request</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_instock_registration" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="product_instock_registration_status">1</field>
                    </depends>
                    <label>Select Customer Notification Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>                
                <field id="product_instock_notification" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Product Instock Notification Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
