<input class="admin__control-text" type="text"
    data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: true,
            maxlength: 255
    }" disabled/>
<a class="widget-option-chooser" href="#" click="showChooser">
	<img attr="src: chooserImageSrc" alt="Open Chooser" />
</a>
<a href="#" click="hideChooser">
    <img attr="src: chooserApplySrc" alt="Apply">
</a>
<div class="mgz-uichooserlayout-chooser" data-bind="html: chooserHtml, visible: chooserVisible"></div>