
// Widget (Magento)
.block.widget {
    margin-bottom: 40px;
    > .block-title {
        display: block;
        font-size: var(--block-title-font-size);
        font-weight: var(--block-title-font-weight);
        color: var(--primary-color);
        line-height: 30px;
        margin-bottom: 16px;
        strong {
            display: inline-block;
            font-size: var(--block-title-font-size);
            font-weight: var(--block-title-font-weight);
            line-height: 30px;
            margin: 0;
        }
    }
}

.block-title-wrap {
    margin-bottom: 16px;
    text-align: center;
    .block-title {
        display: inline-block;
        color: var(--primary-color);
        font-size: var(--block-title-font-size);
        line-height: var(--block-title-line-height);
        font-weight: var(--block-title-font-weight);
        margin: 0;
        strong {
            display: inline-block;
            font-size: var(--block-title-font-size);
            font-weight: var(--block-title-font-weight);
            line-height: 30px;
            margin: 0;
        }
    }
}
