.blog-page-list {

    // Category Page
    .category-content {
        margin-bottom: 40px;
        p {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .blog-category-top-image {
        margin-bottom: 40px;
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
            border-radius: var(--border-radius-img);
        }
    }

    // Tag Page
    .tag-content {
        margin-bottom: 40px;
        p {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .blog-tag-top-image {
        margin-bottom: 40px;
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
            border-radius: var(--border-radius-img);
        }
    }

    .post-links-wrapper,
    .subcategory-links-wrapper {
        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-left: 40px;
            list-style: disc;
            margin-top: 16px;
            li {
                display: list-item;
                list-style: disc;
                a {
                    color: var(--post-title-color);
                    text-decoration: underline;
                    .transition;
                    &:hover {
                        color: var(--post-title-color-hover);
                        .transition;
                    }
                }
            }
        }
    }

}