<!--@subject {{trans "Registered for Product Notification"}}  @-->
<body style="background-color: #F5F5F5; padding:20px 0; margin: 0; color: #303030;">
	 <table align="center" width="100%">
        <tr>
            <td>
<table align="center" style="width: 100%; max-width: 600px;">
	<tr>
	    <td>
    <p align="center"><img src="{{media url='wysiwyg/pp-logo.png'}}" alt="" style="margin-bottom: 30px; margin-top: 0px;" /></p>
 </td>
</tr>

<tr>
            <td>
    <p align="center"><img src="{{media url='wysiwyg/cart-icon.png'}}" alt="" style="margin-bottom: 40px;" /></p>
</td>
</tr>

<tr>
            
    <td style="background-color: #fff; padding:15px 20px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;">
         
            <h1 style="font-size:15px; font-weight:normal; line-height:20px; margin:0 0 10px 0;">{{trans "Hello" }} {{var customername}},</h1>
            <p>
                        <b>{{var customerName}}</b> {{trans " has requested out of stock notification for"}} <b><a href='{{var productUrl}}'>{{var productName}}</a></b>{{trans ". Please Notify"}} <b>{{var customerName}}</b> {{trans "as soon as the product becomes In stock."}}
                    </p>
       
    </td>
</tr>

<tr>
            <td>
<p style="font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; line-height: 20px; vertical-align: top;margin-top: 25px; ">

Regards,<br/><br/>
Pharmacy Planet<br/>
United Kingdom<br/>
T. +44 (0)800 978 8956</p>
</td>
</tr>

</table>
</td>
</tr>
</table>
</body>
