<!--@subject {{trans "Order Update"}} @-->
<!--@vars {} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td class="thank-you-img"  align="center"><img src="{{media url='wysiwyg/thankyou-img.jpg'}}" alt="" /></td>
    </tr>
    <tr>
        <td class="thank-you-img"  align="center">
            <h1 style="font-size: 59px; font-weight: 700; text-transform: uppercase; text-align: center; color: #393939; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; letter-spacing: 10px; margin-top: 20px; margin-bottom: 10px;">Thank You!</h1>
            <p style="font-size: 16px; margin-bottom: 40px;">{{trans "for your order at %store_name." store_name=$store.frontend_name}}</p>

        </td>
    </tr>
    <tr class="email-intro" style="background: #fff; ">
        <td style="padding: 30px 30px 25px 30px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
            <p class="greeting">Dear {{var custName}},</p>
            <!-- <p>
                {{trans "Thank you for placing your order at %store_name." store_name=$store.frontend_name}}

                {{trans "We have reviewed your medical questionnaire, and you do not satisfy the pre-requisites for this product. Unfortunately, your consultation has been rejected by our pharmacist."}}<br/><br/>

                {{trans 'If you have any questions about your order, you can email us at  <a href="mailto:%store_email">%store_email' store_email=$store_email |raw}}</a> {{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                 
            </p> -->

            <p>Thank you for using Pharmacy Planet to order your regular prescription medication. We are so sorry but, unfortunately on this occasion, we are unable to process your order. This could be for a number of reasons:
</p>    
<ol style="margin-top: 15px !important; margin-left: 25px;">
    <li>The prescriber was unable to confirm your medical history</li>
    <li>The results of your medical questionnaire may have indicated a possible red flag which might make this medicine inappropriate for you</li>
    <li>We are currently unable to ship to your country</li>
    <li>At present we cannot source the item you’ve ordered.</li>
    <li>A complication has prevented us from finalising your order.</li>
</ol>
<p>We are sorry for not being able to fulfil your order.</p>
<p>A full refund for you will be processed. Please allow 2-5 working days for funds to appear in your account.</p>
<!-- <p style="font-size:14px; font-family: Arial, Helvetica, sans-serif; font-weight:normal;">If you have any questions about your order, please email us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or call us at {{config path='general/store_information/phone'}}.</p> -->
<p>{{trans 'If you have any questions about your order, please email us at <a href="mailto:%store_email">%store_email' store_email=$store_email |raw}}</a> {{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.</p>
        </td>
    </tr>
    <!-- <tr class="email-summary" style="background: #fff; ">
        <td style="padding: 30px 30px 0 30px;">
            <h1 style="text-align: center; font-size: 20px;
    font-weight: 700; 
    text-transform: uppercase;
    letter-spacing: 1px; background: #f9dfdc;
    padding-top: 10px; padding-bottom: 10px; margin-top: 0; line-height: 40px; border-bottom: 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; float: left;width: 100%; margin-bottom: 20px;">{{trans "DISAPPROVE EMAIL"}}</h1>
            <p>
                {{trans "Example Email Summary"}}
            </p>
        </td>
    </tr>
    <tr class="email-information" style="background: #fff; ">
        <td style="padding: 30px 30px 30px 30px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
            <p>
                {{trans "Example Email Information"}}
            </p>
        </td>
    </tr> -->
</table>

{{template config_path="design/email/footer_template"}}
