.admin__menu .item-kdi_testimonials_testimonials > a:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/hh.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
