<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<!-- <add id="Nilesh::top_level" module="Nilesh_GpManagement" resource="Magento_Backend::content" sortOrder="9999" title="Nilesh"/>
		<add action="nilesh_gpmanagement/gpmanagement/index" id="Nilesh_GpManagement::nilesh_gpmanagement_gpmanagement" module="Nilesh_GpManagement" parent="Nilesh::top_level" resource="Magento_Backend::content" sortOrder="9999" title="GpManagement"/> -->
	</menu>
</config>
