<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Sachin\Customer\Api\AgeverificationRepositoryInterface" type="Sachin\Customer\Model\AgeverificationRepository"/>
	<preference for="Sachin\Customer\Api\Data\AgeverificationInterface" type="Sachin\Customer\Model\Data\Ageverification"/>
	<preference for="Sachin\Customer\Api\Data\AgeverificationSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
