<?xml version="1.0" ?>
<!--
   ~ This software is the confidential and proprietary information of Autify Digital Ltd.
   ~ Unauthorized use, reproduction, or distribution of this software, in whole or in part, is strictly prohibited.
   ~ Copyright (c) 2020-Present Autify Digital Ltd.
   ~ This work is protected under applicable copyright and intellectual property laws.
   ~ All rights reserved. Distribution and disclosure are permitted only in accordance with
   ~ the terms of a valid written agreement with Autify Digital Ltd.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="AutifyDigital_LloydscardnetPayment::menu" title="Lloyds Cardnet" translate="title" sortOrder="10">
					<resource id="AutifyDigital_LloydscardnetPayment::autify_lloydscardnetpayment_payments" title="Lloyds Cardnet Payments" translate="title" sortOrder="10"/>
					<resource id="AutifyDigital_LloydscardnetPayment::config_autifydigital_lloydscardnet" title="Lloyds Cardnet Payments Menu" translate="title" sortOrder="20"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>