<?xml version="1.0"?>
<!--
   ~ This software is the confidential and proprietary information of Autify Digital Ltd.
   ~ Unauthorized use, reproduction, or distribution of this software, in whole or in part, is strictly prohibited.
   ~ Copyright (c) 2020-Present Autify Digital Ltd.
   ~ This work is protected under applicable copyright and intellectual property laws.
   ~ All rights reserved. Distribution and disclosure are permitted only in accordance with
   ~ the terms of a valid written agreement with Autify Digital Ltd.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="autify_lcnet_event_email_stopper" instance="AutifyDigital\LloydscardnetPayment\Observer\StopOrderEmail" />
    </event>
    <event name="controller_action_predispatch">
		<observer instance="AutifyDigital\LloydscardnetPayment\Observer\ActionPredispatch" name="autify_lcnet_observer_actionpredispatch"/>
	</event>
</config>