<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Customer\Controller\Account\CreatePost" type="Nilesh\RegistrationPreference\Rewrite\Magento\Customer\Controller\Account\CreatePost" />
	<preference for="Magento\Customer\Controller\Account\Confirm" type="Nilesh\RegistrationPreference\Rewrite\Magento\Customer\Controller\Account\Confirm" />
	<preference for="Magento\Customer\Controller\Ajax\Login" type="Nilesh\RegistrationPreference\Rewrite\Magento\Customer\Controller\Ajax\Login" />
</config>
