<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magefan_BlogImport::import" title="Import" module="Magefan_BlogImport" parent="Magefan_Blog::elements" sortOrder="40" action="blogimport/import" resource="Magefan_BlogImport::import"/>
    </menu>
</config>
