<?xml version="1.0"?>
<!--
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_OutOfStockNotification
 * @author      Webkul
 * @copyright   Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="webkul_outofstocknotification_get_product_stock_status" instance="Webkul\OutOfStockNotification\Observer\ProductStockStatusObserver" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="oosn_order_place_after" instance="Webkul\OutOfStockNotification\Observer\OrderPlaceAfter" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="webkul_outofstocknotification_return_to_inventory_notify_subscriber" instance="Webkul\OutOfStockNotification\Observer\ProductStock"/>
    </event>
</config>
