<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome to %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<p align="center"><img src="{{media url='wysiwyg/thankyou-img.jpg'}}" alt="" /></p>
<h1 style="font-size: 59px; font-weight: 700; text-transform: uppercase; text-align: center; color: #393939; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; letter-spacing: 10px; margin-top: 30px; margin-bottom: 40px;">Thank You!</h1>
<div style="background-color: #fff; padding: 30px;">
<!-- <p class="greeting">{{trans "%name," name=$customer.name}}</p> -->
<p class="greeting" style="font-size:14px; font-family: Arial, Helvetica, sans-serif; font-weight:normal;">Dear {{trans "%name," name=$customer.name}}</p>
<p style="font-size:14px; font-family: Arial, Helvetica, sans-serif; font-weight:normal;">{{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}</p>

<p style="font-size:14px; font-family: Arial, Helvetica, sans-serif; font-weight:normal;">{{trans "Thanks for signing up. When you login into your account, you can:"}}</p>
<ul style="margin-left: 30px;">
    <li style="margin-bottom: 5px; font-size:14px; font-family: Arial, Helvetica, sans-serif;">{{trans "Edit your account information"}}</li>
    <li style="margin-bottom: 5px; font-size:14px; font-family: Arial, Helvetica, sans-serif;">{{trans "Check the status of current orders and view past orders"}}</li>
    <li style="margin-bottom: 5px; font-size:14px; font-family: Arial, Helvetica, sans-serif;">{{trans "Proceed to check-out faster when re-ordering"}}</li>
    <!-- <li>{{trans "Store alternative addresses(for shipping to multiple family members and friends)"}}</li> -->
    <li style="font-size:14px; font-family: Arial, Helvetica, sans-serif;">{{trans "Update your general questionnaire"}}</li>
</ul>

<!-- <p>
    {{trans
        'To sign in to our site, use these credentials during checkout or on the <a href="%customer_url">My Account</a> page:'

        customer_url=$this.getUrl($store,'customer/account/',[_nosid:1])
    |raw}}
</p> -->
<p style="font-size:14px; font-family: Arial, Helvetica, sans-serif; font-weight:normal;">Use these credentials to sign into our site.</p>
<ul style="margin-left: 0px;">
    <li style="list-style-type: none; font-size:14px; font-family: Arial, Helvetica, sans-serif;"><strong>{{trans "Email:"}}</strong> {{var customer.email}}</li>
    <li style="list-style-type: none; font-size:14px; font-family: Arial, Helvetica, sans-serif;"><strong>{{trans "Password:"}}</strong> {{trans "The Password you set while creating this account"}}</li>
</ul>
<p style="font-size:14px; font-family: Arial, Helvetica, sans-serif; font-weight:normal;">
    {{trans
        'Forgot your account password? <a href="%reset_url">Click here</a> to reset it.'

        reset_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
    |raw}}
</p>
<p style="font-size:14px; font-family: Arial, Helvetica, sans-serif; font-weight:normal;">If you have any questions, please email us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or call {{config path='general/store_information/phone'}}.</p>
</div>

{{template config_path="design/email/footer_template"}}
