<?xml version="1.0" ?>
<!--
   ~ This software is the confidential and proprietary information of Autify Digital Ltd.
   ~ Unauthorized use, reproduction, or distribution of this software, in whole or in part, is strictly prohibited.
   ~ Copyright (c) 2020-Present Autify Digital Ltd.
   ~ This work is protected under applicable copyright and intellectual property laws.
   ~ All rights reserved. Distribution and disclosure are permitted only in accordance with
   ~ the terms of a valid written agreement with Autify Digital Ltd.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="lloyds_config_provider" xsi:type="object">AutifyDigital\LloydscardnetPayment\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="lloyds-saved-cards" xsi:type="string">AutifyDigital\LloydscardnetPayment\CustomerData\SavedCards</item>
            </argument>
        </arguments>
    </type>
</config>