<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<sales_email>
			<reoder_email>
				<enable>1</enable>
				<identifier>sales</identifier>
				<template/>
			</reoder_email>
		</sales_email>
	</default>
</config>
